<%= form_for @tag do |f| %>
  <p>
    <%= f.label :name %><br/>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label "Add or Update Image" %><br/>
    <%= f.text_field :image_url %>
  </p>
  <p>
    <%= f.submit 'Submit' %>
  </p>
<% end %>